.game-screen {
  padding-top: 1.5rem;
}

.container {
  width: 328px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .game-screen {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .container {
    width: 460px;
  }
}
